<div id="<%= dom_id electric_car %>">
  <p>
    <strong>Model:</strong>
    <%= electric_car.model %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= electric_car.brand %>
  </p>

  <p>
    <strong>Features:</strong>
    <%= electric_car.features %>
  </p>

  <p>
    <strong>Manufacture year:</strong>
    <%= electric_car.manufacture_year %>
  </p>

  <p>
    <strong>Driving range:</strong>
    <%= electric_car.driving_range %>
  </p>

  <p>
    <strong>Rental price:</strong>
    <%= electric_car.rental_price %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag electric_car.image, with:"20%" %>
    <%else%>
    <img src="https://unsplash.com/es/s/fotos/autos/40x40" alt= "avatar", width="20%">
  </p>
<%end%>
</div>
